services:
  api:
    build: ./backend
    container_name: fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: dedheepya
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dedheepya -d mydb"]
      interval: 5s
      timeout: 2s
      retries: 10
      
  ui:
    build: ./frontend
    container_name: streamlit_ui
    ports:
      - "8501:8501"
    depends_on:
      - api
       

volumes:
  postgres_data:
